.menuItem {
  display: flex;
  width: 340px;
  height: 48px;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  &:hover {
    background: rgba(22, 24, 35, 0.03);
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
  }

  &.active {
    color: var(--primary);

    .activeIcon {
      display: flex;
    }

    .icon {
      display: none;
    }
  }
}

.title {
  margin-left: 8px;
}

.activeIcon {
  display: none;
}

.icon {
  display: flex;
}
